@font-face {
 font-family: Roboto; /* проверяем наличие шрифта в ОС пользователя */ url(../fonts/RobotoCondensed-Bold.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
@font-face {
 font-family: RobotoR; /* проверяем наличие шрифта в ОС пользователя */ url(../fonts/RobotoCondensed-Regular.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
}
* {
 margin: 0; padding: 0; outline: 0;
}
a {
 text-decoration: none
}
ul, li {
 list-style-type: none
}
body {
	font-family: 'RobotoR', sans-serif;
}

/* TAB */
.wrapper_tab {position: relative; margin: auto; width: 1400px; min-width: 1400px; height: 100px; margin: 5% auto 0;}
.block_l {position: absolute; left: 0; width: 50%; height: 600px; background: url('../images/bg_left.png') repeat-y top;}
.block_r {position: absolute; right: 0; width: 50%; height: 600px;}
.table__top {border-collapse: collapse; width: 100%;}
.table__top tr {width: 100%; height: 50px;}
.table__top tr:hover {background: #01e1fc; cursor: pointer;}
.table__top td {color: #fff; font-size: 16px; padding-left: 20px; font-size: 24px;}
.table__top .tops:hover {background: none; cursor: default;}
.table__top .no {width: 140px; text-align: left; color: #fff; line-height: 80px; height: 80px;}
.table__top .nick {width: 360px; text-align: left; color: #fff; line-height: 80px; height: 80px;}
.table__top .bal {width: 160px; text-align: left; color: #fff; line-height: 80px; height: 80px;}
.top_bottom {position: absolute; bottom: 15px; right: 25px; font-size: 18px; color: #fff; opacity: 0.09;}
.logo_tab {display: block; background: url('../images/logo.png') no-repeat top; width: 420px; height: 134px; position: absolute; margin: auto; left: 50%; top: 0; margin-left: -210px;}
.r_white_bl {display: block; position: absolute; bottom: 0; right: 0; width: 100%; height: 365px; background: #e4e4e4;}
.r_menu {display: block; position: absolute; top: 160px; right: 0; width: 100%; height: 60px; float: right; font-family: 'Roboto', sans-serif;}
.r_menu .menu {display: table; width: 100%; float: right;}
.r_menu .menu li {float: left; margin-left: 5px; line-height: 60px; width: 19.25%; text-align: center;}
.r_menu .menu li a {display: block; background: #1e1e1d; color: #fff; padding: 0 20px; font-size: 18px;}
.r_menu .menu li a:hover {background: #01e1fc; color: #1e1e1d;}
.right_wrap {position: absolute; width: 650px; height: 350px; top: 30px; left: 30px;}
.name_level {position: absolute; width: 100%; height: 140px; border-bottom: 1px solid #c1c1c1; font-family: RobotoR; top: 0;}
.name_level .na {position: absolute; color: #006874; font-size: 65px; top: 5px; left: 48px; text-transform: uppercase;}
.name_level .comm {position: absolute; color: #fff; font-size: 25px; top: 90px; left: 50px;}
.name_level .comm span {color: #a7a7a7}
.name_level .level {position: absolute; right: 0; top: 20px;}
.name_level .level i {position: absolute; top: 30px; right: 0; background: url('../images/level.png') no-repeat bottom; width: 200px; height: 50px; z-index: 4;}
.name_level .level span {position: absolute; top: -33px; right: 0; width: 200px; text-align: center; z-index: 3; color: #424242; font-size: 70px;}
.nalik_level {position: absolute; width: 100%; height: 140px; font-family: RobotoR; top: 160px;}
.nalik_level .nalik  .na {position: absolute; color: #006874; font-size: 65px; top: 20px; left: 0; text-transform: uppercase;}
.nalik_level .nalik .text {position: absolute; color: #a7a7a7; font-size: 25px;}
.nalik_level .nalik {position: absolute; left: 20px;}
.nalik_level .level {position: absolute; right: 0;}
.nalik_level .level .text {position: absolute; color: #a7a7a7; font-size: 25px; right: 230px;}
.nalik_level .level .bar {position: absolute; top: 40px; right: 35px; text-align: center; z-index: 3; color: #424242; font-size: 70px;}
.progress {position: absolute; top: 0; right: 0; background: #d2d2d2; border: 0; width: 290px; height: 52px; z-index: 1;}
.progress-bar {position: absolute; top: 0; left: 0; background: #00e4ff; border: 0; width: 290px; height: 52px; z-index: -5;}
.progress .l {position: absolute; top: 0; left: 13px; line-height: 52px; font-size: 25px; color: #006874;}
.progress .r {position: absolute; top: 0; right: 13px; line-height: 52px; font-size: 25px; color: #a7a7a7;}
.r_white_bl .ls_block {position: absolute; bottom: 0; right: 0; width: 100%; z-index: 9;}
.r_white_bl .ls_block .btn {position: absolute; bottom: 0; right: 0;}
.r_white_bl .ls_block .btn a {display: block; height: 50px; line-height: 50px; min-width: 175px; background: #272727; color: #e4e4e4; float: left; text-align: center; font-size: 18px; border: 1px solid #333333;}
.r_white_bl .ls_block .btn a:hover {background: #d50028; border: none; padding: 1px;}
/* END TAB */



.wrapper_login {position: relative; margin: auto; width: 550px; min-width: 550px; height: 530px; margin: 10% auto 0;}
.logo_login {display: block; background: url('../images/logo_login.png') no-repeat top; width: 416px; height: 131px; margin: 0 auto;}
.block_login{width:100%;height:260px;background:rgba(40,40,40, 0.9);position: absolute; top: 155px;}

.wrapper_login  .top_link_login{position: absolute; top: 0;	width:100%;height:55px;line-height:55px;background:#1d1d1d;}
.wrapper_login  .top_link_login .ls_block .btn {position: absolute; top: 0; right: 0;width:100%;}
.wrapper_login  .top_link_login .ls_block .btn a {display: block; height: 55px; line-height: 55px; width: 50%; background: #d50028; color: #e4e4e4; float: left; text-align: center; font-size: 18px;}
.wrapper_login  .top_link_login .ls_block .btn .l{width:49.91%;}
.wrapper_login  .top_link_login .ls_block .btn .r{float:right;width:49.91%;}

.cont_login{position: absolute; top: 60px;width:100%;}
.login_form{position: absolute; top: 30px; left:50%;margin:auto;margin-left:-225px;width:450px;}
.login_form .inp{margin-bottom:25px;	background: rgba(255,255,255, 0.06);width:100%;}
.login_form input{width:80%;background: none;border:0;height:48px;font-size:16px;color:#707070;padding:0 0 0 5px;}
.login_form label{position:absolute;right:20px;margin-top:15px;color:#fff;filter: alpha(Opacity=30);-moz-opacity: 0.3;-khtml-opacity: 0.3;opacity: 0.3;font-family: Roboto;}






.wrapper_reg{background:rgba(40,40,40, 0.9);position: relative; margin: auto; width: 550px; min-width: 550px; height: 340px; margin: 10% auto 0;}

.wrapper_reg  .top_link_login{position: absolute; bottom: 0;	width:100%;height:55px;line-height:55px;background:#2a2a2a;}
.wrapper_reg  .top_link_login .ls_block .btn {position: absolute; top: 0; right: 0;width:100%;}
.wrapper_reg  .top_link_login .ls_block .btn a {display: block; height: 55px; line-height: 55px; width: 50%; background: #272727; color: #e4e4e4; float: left; text-align: center; font-size: 18px;}
.wrapper_reg  .top_link_login .ls_block .btn .l{width:49.91%;background: #272727;}
.wrapper_reg  .top_link_login .ls_block .btn .r{float:right;width:49.91%;background: #272727;}



.top_link_login .ls_block .btn .l:hover{background: #2b2b2a;}
.top_link_login .ls_block .btn .l.active:hover{background: #2a2a2a;}

.top_link_login .ls_block .btn .r.active:hover, .top_link_login .ls_block .btn .r:hover{background: #df0a32;}

.top_link_login .ls_block .btn .l{background: #2a2a2a;}
.top_link_login .ls_block .btn .r{background: #2a2a2a;}

.top_link_login .ls_block .btn .l.active{background: #272727;}
.top_link_login .ls_block .btn .r.active{background: #d50028;}

.top_link_login .ls_block .btn .l.active:hover{background: #2a2a2a;}
.top_link_login .ls_block .btn .r.active:hover{background: #df0a32;}

.cont_reg{position: absolute; top: 30px; left:50%;margin:auto;margin-left:-225px;width:450px;}


.lang_color{
	position:absolute;
	top:0;
	width:100%;	
}
.lang_color .lang{
	position:absolute;
	left:0;
}
.lang_color .color{
	position:absolute;
	right:0;
}

.reg_form{position: absolute; top: 90px; left:50%;margin:auto;margin-left:-225px;width:450px;}
.reg_form .inp{margin-bottom:25px;	background: rgba(255,255,255, 0.06);width:100%;}
.reg_form input{width:80%;background: none;border:0;height:48px;font-size:16px;color:#707070;padding:0 0 0 5px;}
.reg_form label{position:absolute;right:20px;margin-top:15px;color:#fff;filter: alpha(Opacity=30);-moz-opacity: 0.3;-khtml-opacity: 0.3;opacity: 0.3;font-family: Roboto;}


.til{float:left;font-family:Roboto;color:#e4e4e4;font-size:18px;font-weight:bold;padding-top:3px;}
.list_lang{float:left;margin-left:10px;}
.list_lang .ua,.list_lang .ru,.list_lang .en{float:left;margin-right:3px;}
.list_lang .ua a:hover,.list_lang .ru a:hover,.list_lang .en a:hover,.list_lang .active{-webkit-transform: scale(1.2);-moz-transform: scale(1.2);-o-transform: scale(1.2);}
.list_lang .ua a{
	display:block;
	background:url('../images/ua.png') no-repeat center;
	width:27px;
	height:27px;
}
.list_lang .ru a{
	display:block;
	background:url('../images/ru.png') no-repeat center;
	width:27px;
	height:27px;
}
.list_lang .en a{
	display:block;
	background:url('../images/en.png') no-repeat center;
	width:27px;
	height:27px;
}

.til{float:left;font-family:RobotoR;color:#e4e4e4;font-size:18px;padding-top:3px;}
.list_color{float:left;margin-left:10px;}
.list_color .c1,.list_color .c2,.list_color .c3{float:left;margin-right:3px;}
.list_color .c1 a:hover,.list_color .c2 a:hover,.list_color .c3 a:hover,.list_color .active{-webkit-transform: scale(1.2);-moz-transform: scale(1.2);-o-transform: scale(1.2);}
.list_color .c1 a{
	display:block;
	background:#00e4ff;
	width:27px;
	height:27px;
	border-radius:50%;
}
.list_color .c2 a{
	display:block;
	background:#d50028;
	width:27px;
	height:27px;
	border-radius:50%;
}
.list_color .c3 a{
	display:block;
	background:#9600ff;
	width:27px;
	height:27px;
	border-radius:50%;
}